<aside class="sidebar">
    <h1 class="page-header p-l-20">Authors</h1>
    <div class="bg-cyan info-box">
        <div class="icon">
            <i class="fa fa-list-alt fa-3x"></i>
        </div>
        <div class="content">
            <h3>{{ users.list.length }} authors</h3>
        </div>
    </div>

    <a class="btn bg-cyan btn-block" data-toggle="modal" data-target="#addAuthor" role="button">Add author</a>
</aside>

<section class="content">
    <div mc-notification notification="users.notification"></div>

    <ol class="breadcrumb">
        <li><a ng-href="#!/index.html">Home</a></li>
        <li class="active"><a ng-href="#!/users">Authors</a></li>
    </ol>

    <div class="card">
        <div class="header">
            <h2>Authors</h2>
        </div>
        <div class="body">
            <table class="table table-sm">
                <thead>
                    <tr class="table-active">
                        <th>Name</th>
                        <th>Email</th>
                        <th>Position</th>
                        <th>Active</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in users.list | orderBy:'id'">
                        <th scope="row">{{user.name}}</th>
                        <td>{{user.email}}</td>
                        <td>{{user.role}}</td>
                        <td>
                            <md-switch ng-model="user.locked" aria-label="Switch" ng-change="users.userSwitch(user)" ng-true-value="'Y'" ng-false-value="'N'"></md-switch>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    <div class="modal fade" id="addAuthor" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="defaultModalLabel">Add category</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" name="usersForm" novalidate>
                        <div class="box-body">
                            <div class="form-group">
                                <label for="inputTitle" class="col-sm-2 control-label">Full name</label>
                                <div class="col-sm-10">
                                    <div class="form-line">
                                        <input type="text" class="form-control" ng-model="users.current.name" placeholder="" required>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="userEmail" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <div class="form-line">
                                        <input type="email" class="form-control" ng-model="users.current.email" placeholder="" required>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="position" class="col-sm-2 control-label">Role</label>
                                <div class="col-sm-10">
                                    <div class="form-line">
                                        <input type="text" class="form-control" ng-model="users.current.role" placeholder="" required>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="ID" class="col-sm-2 control-label">ID</label>
                                <div class="col-sm-10">
                                    <div class="form-line">
                                        <input type="text" class="form-control" ng-model="users.current.id" placeholder="" required>
                                    </div>
                                </div>
                            </div>

                            <input type="text" class="form-control" ng-model="users.current.locked" value="Y" ng-hide="true">

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                    <button ng-disabled="usersForm.$invalid" ng-click="users.addNewItem(users.current)" type="submit" class="btn btn-success" data-dismiss="modal">Сохранить</button>
                </div>
            </div>
        </div>
    </div>

</section>
