<aside class="sidebar">
    <h1 class="page-header p-l-20">Categories</h1>
    <div class="bg-cyan info-box">
        <div class="icon">
            <i class="fa fa-list-alt fa-3x"></i>
        </div>
        <div class="content">
            <h3>{{ cats.list.length }} categories</h3>
        </div>
    </div>

    <a class="btn bg-cyan btn-block" data-toggle="modal" data-target="#addCat" role="button">Add category</a>
</aside>

<section class="content">
    <div mc-notification notification="cats.notification"></div>

    <ol class="breadcrumb">
        <li><a ng-href="#!/index.html">Home</a></li>
        <li class="active"><a ng-href="#!/categories">Categories</a></li>
    </ol>

    <div class="card">
        <div class="header">
            <h2>Categories</h2>
        </div>
        <div class="body">
            <table class="table table-sm">
                <thead>
                <tr class="table-active">
                    <th>ID</th>
                    <th>Title</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="cat in cats.list | orderBy:'sort_weight'">
                    <td>{{cat.id}}</td>
                    <th>{{cat.name}}</th>
                    <td class="text-right"><div confirm-delete on-confirm="cats.list.$remove(cat)"></div></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="addCat" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="defaultModalLabel">Add category</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" name="catsForm" novalidate>
                        <div class="box-body">
                            <div class="form-group">
                                <label for="inputTitle" class="col-sm-2 control-label">Title</label>
                                <div class="col-sm-10">
                                    <div class="form-line">
                                        <input type="text" class="form-control" ng-model="cats.current.name" placeholder="" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputID" class="col-sm-2 control-label">ID</label>
                                <div class="col-sm-10">
                                    <div class="form-line">
                                        <input type="text" class="form-control" ng-model="cats.current.id" placeholder="" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                    <button ng-disabled="catsForm.$invalid" ng-click="cats.addNewItem(cats.current)" type="submit" class="btn btn-success" data-dismiss="modal">Сохранить</button>
                </div>
            </div>
        </div>
    </div>

</section>
