<div>
    <div mc-notification notification="video.notification"></div>

    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Видеотека</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <a class="btn btn-primary" ng-href="#!/video/0" role="button">Добавить</a>
        </div>
    </div>

    <div class="tabsDynamicHeight events-list">
        <md-content>
            <md-tabs md-dynamic-height="" md-border-bottom="" md-center-tabs="true">
                <md-tab
                    ng-repeat="type in video.types track by type.id" label="{{type.title}}" ng-click="video.getVideoByParam('api/video', 'type', type.id)">
                    <md-content class="md-padding">
                        <table class="table table-sm">
                            <thead>
                            <tr class="table-active">
                                <th>ID</th>
                                <th>Название</th>
                                <th>Автор</th>
                                <th>Дата доб.</th>
                                <th>Дата публ.</th>
                                <th class="text-center">Опубликовано</th>
                                <th class="text-center">Случайное видео</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="post in video.list | orderBy:'-id'">
                                <th scope="row">{{post.id}}</th>
                                <td>{{post.title}}</td>
                                <td>{{post.author_name}}</td>
                                <td>{{post.date_add}}</td>
                                <td>{{post.date_pub}}</td>
                                <td class="text-center"><i class="fa" ng-class="{{post.publish}} ? 'fa-check-circle' : 'fa-minus-circle'"></i></td>
                                <td class="text-center"><i class="fa" ng-class="{{post.random_video}} ? 'fa-check-circle' : 'fa-minus-circle'"></i></td>
                                <td class="text-center"><a ng-href="#!/video/{{post.id}}"><i class="fa fa-edit"></i></a></td>
                                <td class="text-center"><div confirm-delete on-confirm="video.videoDelete(post.id)"></div></td>
                            </tr>
                            </tbody>
                        </table>
                    </md-content>
                </md-tab>
            </md-tabs>

        </md-content>
        <div class="row-fluid">
            <ul uib-pagination
                total-items="video.count_pages"
                ng-model="video.current_page"
                items-per-page="video.per_page"
                ng-click="video.getVideoByParam('api/video', 'p', video.current_page)"
                max-size="5"
                direction-links="false"
                class="pagination-sm" boundary-link-numbers="true" rotate="false"></ul>
            <pre>Страница: {{video.current_page}} / {{video.total_pages}}</pre>
        </div>
    </div>

</div>

