<aside class="sidebar">
    <h1 class="page-header p-l-20">News</h1>
    <div class="bg-cyan info-box">
        <div class="icon">
            <i class="fa fa-list-alt fa-3x"></i>
        </div>
        <div class="content">
            <h3>{{ news.list.length }} news</h3>
        </div>
    </div>

    <a class="btn bg-cyan btn-block" ng-href="#!/news/0" role="button">Add news</a>
</aside>

<section class="content">
    <div mc-notification notification="news.notification"></div>

    <div class="card">
        <div class="header">
            <h2>Latest news</h2>
        </div>
        <div class="body">
            <table class="table table-striped">
                <thead>
                <tr class="table-active">
                    <th>ID</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Date added</th>
                    <th>Date published</th>
                    <th class="text-center">Published</th>
                    <th class="text-center">Random news</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="post in news.list | orderBy:'-id'">
                    <th scope="row">{{post.id}}</th>
                    <td>{{post.title}}</td>
                    <td>{{post.fullname}}</td>
                    <td>{{post.date_add}}</td>
                    <td>{{post.date_pub}}</td>
                    <td class="text-center"><i class="fa" ng-class="{{post.publish}} ? 'fa-check-circle' : 'fa-minus-circle'"></i></td>
                    <td class="text-center"><i class="fa" ng-class="{{post.random_news}} ? 'fa-check-circle' : 'fa-minus-circle'"></i></td>
                    <td class="text-center"><a ng-href="#!/news/{{post.id}}"><i class="fa fa-edit"></i></a></td>
                    <td class="text-center"><div confirm-delete on-confirm="news.newsDelete(post.id)"></div></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <ul uib-pagination total-items="news.count_pages" ng-model="news.current_page" max-size="5"  direction-links="false" items-per-page="news.per_page"
            class="pagination-sm" boundary-link-numbers="true" rotate="false"  ng-click="news.getNews(news.current_page)"></ul>
        <pre>Страница: {{news.current_page}} / {{news.total_pages}}</pre>
    </div>
</section> <!-- /controller -->
