<aside class="sidebar">
    <h1 class="page-header p-l-20">News</h1>
    <div class="bg-cyan info-box">
        <div class="icon">
            <i class="fa fa-list-alt fa-3x"></i>
        </div>
        <div class="content">
            <h3>{{ news.list.length }} news</h3>
        </div>
    </div>

    <a class="btn bg-cyan btn-block" ng-href="#!/news/0" role="button">Add news</a>
</aside>

<section class="content">
    <div mc-notification notification="news.notification"></div>
    <ol class="breadcrumb">
        <li><a ng-href="#!/index.html">Home</a></li>
        <li class="active"><a ng-href="#!/news">News</a></li>
    </ol>

    <div class="card">
        <div class="header">
            <h2>Latest news</h2>
        </div>
        <div class="body">
            <table class="table table-striped">
                <thead>
                <tr class="table-active">
                    <th>Date</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="post in news.list | orderBy:'-id'">
                    <td>{{post.date_pub}}</td>
                    <td>{{post.title}}</td>
                    <td>{{post.author_name}}</td>
                    <td class="text-center"><a ng-href="#!/news/{{post.$id}}"><i class="fa fa-edit"></i></a></td>
                    <td class="text-center"><div confirm-delete on-confirm="news.list.$remove(post)"></div></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <ul uib-pagination total-items="news.paging.count_pages" ng-model="news.paging.current_page" max-size="5"  direction-links="false" items-per-page="news.paging.per_page"
            class="pagination-sm" boundary-link-numbers="true" rotate="false"  ng-click="news.getNews(news.current_page)"></ul>
        <pre>Page: {{news.paging.current_page}} / {{news.paging.total_pages}}</pre>
    </div>
</section> <!-- /controller -->
