<section class="page-container">
    <div mc-notification notification="ctrl.notification"></div>
    <div class="card">
        <div class="body">
<!--            <form ng-submit="uploadFile(file)">
                <input type="file" accept="txt" file-model="file" class="form-control">
                <button type="submit" class="btn btn-primary">Upload File</button>
            </form>

            <img ng-src="{{ fotoUrl }}" alt="">-->


            <h3><span ng-hide="ctrl.current.$id">New article:</span> {{ ctrl.current.title }}</h3>
            <hr />


            <form class="form-horizontal" name="newsForm" novalidate>
                <div class="row">
                    <div class="form-group">
                        <label for="newsTitle" class="col-sm-2 form-control-label">Title</label>
                        <div class="col-sm-8 col-lg-8">
                            <div class="form-line">
                                <input id="newsTitle" type="text" class="form-control" ng-model="ctrl.current.title" placeholder="" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputAuthor" class="col-sm-2 form-control-label">Author</label>
                        <div class="col-sm-4 col-lg-4">
                            <div class="form-line">
                                <select class="form-control" id="inputAuthor" name="role"  ng-model="ctrl.current.author"
                                        ng-options="author.id as author.name for author in  ctrl.authors" required>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="newsCategory" class="col-sm-2 form-control-label">Category</label>
                        <div class="col-sm-4 col-lg-4">
                            <div class="form-line">
                                <select id="newsCategory" class="form-control" name="role"  ng-model="ctrl.current.category"
                                        ng-options="category.id as category.name for category in  ctrl.categories" required>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="pubDate" class="col-sm-2 form-control-label">Publish date</label>
                        <div class="col-sm-4 col-lg-4">
                            <div class="form-line">
                                <input id="pubDate" type="text" class="form-control" ng-model="ctrl.current.date_pub">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <!--<label for="mainFoto" class="col-sm-2 form-control-label">Featured image</label>
                        <div class="col-sm-4 col-lg-4" ngf-select="ctrl.upload($file)" ngf-size="{width: 171, height: 200, quality: 0.9}">
                            <img id="mainFoto" class="profile-user-img img-responsive img-thumbnail" ngf-thumbnail="ctrl.current.main_foto_link || '/images/default.png'" alt="Загрузить фото" title="Загрузить фото"
                                 ng-model="ctrl.current.main_foto_url">
                            <div class="col-sm-10">
                            </div>
                        </div>
                        <div class="col-sm-4 col-lg-4 checkbox">
                            <label for="loadImage" class="form-control-label">
                                <button id="loadImage" class="btn btn-info" ng-click="ctrl.loadModal()" data-toggle="modal" data-target="#myModal">Выбрать на сервере</button></a>
                            </label>
                        </div>-->
                        <!-- MODAL -->
                        <!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Files on server</h4>
                                    </div>
                                    <div class="modal-body">

                                        <div class="container-fluid" >
                                            <div class="col-lg-3 col-md-3 col-sm-3" ng-repeat="imgs in ctrl.images_list">
                                                <a href="#" ng-click="ctrl.setMainFotoUrl(imgs.main_foto_url)" data-dismiss="modal" >
                                                    <img ng-src="{{ imgs.main_foto_url }}" class="img-thumbnail" style="width: 140px; height: 140px;">
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <!-- /MODAL -->
                    </div>

                    <div class="form-group">
                        <label for="newsQuote" class="col-sm-2 form-control-label">Quote:</label>
                        <div class="col-sm-4 col-lg-4">
                            <div class="form-line">
                                <textarea id="newsQuote" cols="10" rows="4" class="form-control" ng-model="ctrl.current.blockquote" placeholder=""></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-8 col-lg-8 col-lg-offset-2">
                            <div class="form-line">
                                <textarea cols="10" rows="10" ng-model="ctrl.current.body" class="ck-editor"></textarea>
                            </div>
                        </div>
                    </div>
                    </div>

                    <div class="footer">
                        <button ng-click="ctrl.goToPath('/news')" type="submit" class="btn btn-secondary">Cancel</button>
                        <button ng-click="ctrl.addNewItem()" class="btn btn-success">Save</button>
                    </div>
                </form>
            </div>
        </div>


</section>
