<div>
    <div mc-notification notification="band.notification"></div>
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a ng-href="/admin">Home</a></li>
                <li><a ng-href="{{band.path.bands}}">Категории</a></li>
                <li class="active">{{band.current.title}}</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Группа: {{band.current.title}}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <div class="box box-info">
                <form class="form-horizontal" name="bandForm" novalidate>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="inputTitle" class="col-sm-2 control-label">Название</label>
                            <div class="col-sm-10">
                                <input id="inputTitle" type="text" class="form-control" ng-model="band.current.title" placeholder="" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputSort" class="col-sm-2 control-label">Вес сортировки</label>
                            <div class="col-sm-2">
                                <input id="inputSort" type="text" class="form-control" ng-model="band.current.sort_weight" required>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button ng-click="band.goToPath('{{band.path.bands}}')" type="submit" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                            <button ng-disabled="bandForm.$invalid" ng-click="band.bandSave(band.current)" type="submit" class="btn btn-success" data-dismiss="modal">Сохранить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
