<aside class="sidebar p-t-35">
    <dashboard-panel name="Events" icon="fa-microphone" path="{{ds.path.events}}" count="{{ds.count.event_count}}" add-item-path="{{ds.path.events}}" add-item-title="Add Event" color="bg-light-green"></dashboard-panel>
    <dashboard-panel name="News" icon="fa-list-alt" path="{{ds.path.news}}" count="{{ds.count.news_count}}" add-item-path="{{ds.path.news + 0}}" add-item-title="Add News" color="bg-amber"></dashboard-panel>
    <dashboard-panel name="Video" icon="fa-film" path="{{ds.path.video}}" count="{{ds.count.video_count}}" add-item-path="{{ds.path.video + 0}}" add-item-title="Add Video" color="bg-blue"></dashboard-panel>
    <dashboard-panel name="Audio" icon="fa-music" path="{{ds.path.audio}}" count="{{ds.count.audio_count}}" add-item-path="{{ds.path.audio + 0 }}" add-item-title="Add Playlist" color="bg-deep-orange"></dashboard-panel>
</aside>

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <h2>Latest news</h2>
            </div>
<ul>        <li ng-repeat="author in ds.authors">{{ author.name }}</li></ul>

            <div class="body">
                <table class="table table-striped">
                    <thead>
                        <tr class="table-active">
                            <th>Date published</th>
                            <th>Title</th>
                            <th>Author</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="list in ds.news | orderBy:'-id'">
                            <td>{{list.date_pub}}</td>
                            <th>{{list.title}}</th>
                            <td>{{list.author}}</td>
                            <td><a href="#!/news/{{list.$id}}"><i class="fa fa-edit"></i></a></td>
                            <td class="text-center"><div confirm-delete on-confirm="ds.news.$remove(list)"></div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
